*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(laptop-large) {
    font-size: 62.5%; // 1 rem = 10px, 10/16 = 62.5%
  }

  @include respond(laptop-medium) {
    font-size: 58.75%; // 1 rem = 10px, 10/16 = 62.5%
  }

  @include respond(laptop-small) {
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tablet) {
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include respond(phone-large) {
    font-size: 43.75%; // 1 rem = 6px, 6/16 = 37.5%
  }

  // @include respond(phone-large) {
  //   font-size: 37.5%; // 1 rem = 6px, 6/16 = 37.5%
  // }

  // @include respond(phone-medium) {
  //   font-size: 31.25%; // 1 rem = 5px, 5/16 = 31.25%
  // }

  @include respond(phone-small) {
    // font-size: 25%; // 1 rem = 4px, 4/16 = 25%
    font-size: 37.5%; // 1 rem = 4px, 4/16 = 25%
  }

  // @include respond(big-desktop) {
  //   font-size: 75%; // 1 rem = 12px, 12/16 = 75%
  // }
}

body {
  box-sizing: border-box;
  border-bottom: 1rem solid $third-color;
}

::selection {
  background: $third-color;
}
