.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  @include respond(phone-large) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;

  @include respond(tablet) {
    gap: 3rem;
  }

  @include respond(phone-large) {
    grid-template-columns: 1fr;
  }
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;

  @include respond(tablet) {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  @include respond(phone-large) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-col-4-of-works {
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  @include respond(laptop-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone-large) {
    grid-template-columns: 1fr;
  }
}

.grid-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-col-span-6 {
  grid-column: 1 / 6;

  @include respond(laptop-medium) {
    grid-column: 1 / 7;
  }

  @include respond(tablet) {
    grid-column: 1 / 8;
  }

  @include respond(phone-large) {
    grid-column: 1 / -1;
  }
}

/**

I have a website that uses the movie db api and this website shows the trending movies and tv shows. Give me a content describing my website in 
**/
