@keyframes infiniteDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(6px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  50% {
    opacity: 0.5;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes social-links-animation {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}
