$first-color: #3c4245;
$second-color: #5f6769;
$third-color: #ace3e7;
$fourth-color: #faefe8;

$light-color: rgb(230, 230, 230);
$lighter-color: rgb(245, 245, 245);
$box-shadow-color: rgb(221, 221, 221);
